footer {
    width: 100%;
    height: 50px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 12pt;
    font-weight: bolder;
    background-color: #37505C;
    color: #FFEAD0;
    
}