nav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #37505C;

    a {
        color: #FFEAD0;
        text-decoration: none;
        font-size: 14pt;
        font-weight: bolder;
    }
}